@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  html {
    font-size: 18px;
  }

  body {
    @apply bg-nema-dark text-nema-light antialiased overflow-x-hidden;
  }
}

@layer components {
  .font-code {
    font-family: 'Fira Code', monospace;
  }
}

.typewriter-effect p {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 0;
  animation: typing 3.5s steps(40, end) forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes moveWorm {
  0% {
    stroke-dasharray: 0, 30;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 30, 30;
    stroke-dashoffset: -30;
  }
}

@keyframes fadeTrail {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
