@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  html {
    font-size: 18px;
  }

  body {
    @apply bg-nema-dark text-nema-light antialiased overflow-x-hidden;
  }
}

@layer components {
  .font-code {
    font-family: 'Fira Code', monospace;
  }
}

.typewriter-effect p {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 0;
  animation: typing 3.5s steps(40, end) forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
